body{
    background-image: url(https://upload-os-bbs.hoyolab.com/upload/2021/06/19/21867498/134c7cddf81c803ebd0876925f319f40_6631276759320516950.png?x-oss-process=image%2Fresize%2Cs_1000%2Fauto-orient%2C0%2Finterlace%2C1%2Fformat%2Cwebp%2Fquality%2Cq_80);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    ba
}